.item {
    background: #eee;
    margin-bottom: 30px;
}

.item_inner {
    padding: 20px;
    overflow: hidden;
}

.box-colors span {
    width: 20%;
    height: 150px;
    display: block;
    float: left;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
}
.box-colors span abbr {
    display: inline-block;
    background: rgba(0, 0, 0, 0.13);
    line-height: normal;
    padding: 2px 5px;
    font-size: 18px;
    color: #000;
    opacity: 0;
}

.box-colors span:hover abbr {
    opacity: 1;
}
.box-colors {
    display: inline-block;
    width: 40%;
    float: left;
}

.box-info {
    width: 60%;
    float: right;
    padding-left: 30px;
}
.box-info > div{
    margin-bottom: 10px;
}
.box-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}


.item-detail {
    background: #eee;
    margin-bottom: 30px;
}

.item_inner-detail {
    padding: 20px;
    overflow: hidden;
}

.box-colors-detail span {
    width: 20%;
    height: 150px;
    display: block;
    float: left;
}

.box-colors-detail {
    display: inline-block;
    width: 40%;
    float: left;
}

.box-info-detail {
    width: 60%;
    float: right;
    padding-left: 30px;
}
.box-info-detail > div{
    margin-bottom: 10px;
}
.box-name-detail {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

.related-inner {
    width: 33.33%;
    float: left;
    padding: 5px;
}

.box-related {background: #e8e8e8;padding: 10px;display: inline-block;width: 100%;}

.related-color span {
    width: 20%;
    height: 100px;
    display: block;
    float: left;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}
.related-color span abbr {
    display: inline-block;
    background: rgba(0, 0, 0, 0.13);
    line-height: normal;
    padding: 2px 5px;
    font-size: 16px;
    color: #000;
    opacity: 0;
}

.related-color span:hover abbr {
    opacity: 1;
}

.related-info h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.related-info {
    float: left;
    width: 100%;
}

.related-author {
    margin-bottom: 10px;
}
.box-colors-detail a.active span {
    box-shadow: 0px 0px 10px #848484;
    position: relative;
}

